---
// Imports
import Layout from "../layouts/layout.astro";
import { Image } from "astro:assets";

// Images
import HeroBannerImage from "../assets/herobanner.jpg";
import HeroBanner from "../components/hero-banner.astro";
import StockImg from "../assets/randomstockimg.jpg"

// Components
import Card1 from "../components/card1.astro";
import ImageDescription from "../components/imagedescription.astro";
import StatsDescription from "../components/statsdescription.astro";
import BarChart from "../components/barchart.astro";
---

<html lang = "en">
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <Layout>
        <HeroBanner text="Meet TCD, a style of debate like no other."/>
        <StatsDescription >
            <div class="description">
                <div class="text_wrapper">
                  <h2>
                    Debating. Is. Awesome.
                  </h2>
                  <p>
                    TCD is a debate where people combine debating with having fun 
                    MORE YAP ABT TCD SOMEONE PLS FILL THIS IN
                  </p>
                </div>
              </div>
            <div class="stats_container">
              <div class = "stats">
                <BarChart />
              </div>
            </div>
        </StatsDescription>
    </Layout>
</html>