---
// Imports
import Layout from "../layouts/layout.astro";
import { Image } from "astro:assets";

// Images
import StockImg from "../assets/randomstockimg.jpg"

// Components
import Card1 from "../components/card1.astro";
import ImageDescription from "../components/imagedescription.astro";
import StatsDescription from "../components/statsdescription.astro";
import BarChart from "../components/barchart.astro";
import Statsdescription from "../components/statsdescription.astro";
import Gallery from "../components/gallery.astro";
import PieChart from "../components/piechart.astro";
---

<html lang = "en">
  
    <Layout text="Meet TCD, a style of debate like no other.">
        <StatsDescription >
            <div class="description">
                <div class="text_wrapper">
                  <h2>
                    Debating. Is. Awesome.
                  </h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac pulvinar leo, a porttitor lorem. Nullam facilisis interdum mauris, eu vulputate justo rhoncus quis. Donec congue purus id finibus suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet justo fringilla, mattis ligula vel, dapibus nisl. Nulla sodales arcu ut arcu viverra mattis. Aliquam enim quam, viverra sit amet ligula vitae, mollis pharetra tortor. Ut augue enim, consectetur vitae tellus vitae, aliquet facilisis est. Praesent condimentum placerat aliquet.
                  </p>
                </div>
              </div>
            <div class = "stats">
            <div class="stats_container">
                <BarChart />
              </div>
            </div>
        </StatsDescription>
        <Statsdescription>
          <div class = "stats">
            <div class="stats_container">
                <PieChart />
              </div>
            </div>
          <div class="description">
                <div class="text_wrapper">
                  <h2>
                    But it's also high pressure, high stakes, and daunting for newbies
                  </h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac pulvinar leo, a porttitor lorem. Nullam facilisis interdum mauris, eu vulputate justo rhoncus quis. Donec congue purus id finibus suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet justo fringilla, mattis ligula vel, dapibus nisl. Nulla sodales arcu ut arcu viverra mattis. Aliquam enim quam, viverra sit amet ligula vitae, mollis pharetra tortor. Ut augue enim, consectetur vitae tellus vitae, aliquet facilisis est. Praesent condimentum placerat aliquet.
                  </p>
                </div>
              </div>
        </Statsdescription>
        <Gallery>
          <h1>
            Meet TCD
          </h1>
        </Gallery>
    </Layout>
</html>