---
const { image_path = "" } = Astro.props;
const { text = "" } = Astro.props;
import { Image } from "astro:assets";
//import hero_arrow from "../../../public/hero_banners/hero_arrow.svg";
---

<div class="container">
  <!-- <img class="image" src={image_path} alt="Our banner."/> -->
  <div class="text_container">
    <p>{text}</p>
    
  </div>
  <!-- <div class="arrow_container"><img class="arrow" src={hero_arrow.src} /></div> -->
</div>

<style>
  .container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: -1;
    background: #c322a3;
    background: linear-gradient(180deg, rgba(195, 34, 163, 1) 0%, rgba(167, 135, 230, 1) 100%);
  }
  .container .image {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
  /* .arrow {
    position: absolute;
    /*bottom: 2em; /* Adjust as needed 
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: 10vh;
  } */

  /* .arrow_container {
    width: 100vw;
    position: relative;
    top: -20%;
    /*left: 50%;
    width: 100vw;
    align-self: center;
    z-index: 1;
  } */
  
  .text_container {
    width: 80vw;
    position: absolute;
    top: 50%;
    left:45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: left;
  }
  
  .text_container p {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-align:left;
    font-size: 5em;
    
  }

  /*MOBILE*/
  @media only screen and (max-width: 900px) {
    .container {
      height: 35vh;
    }
    .container .image {
      width: 100%;
    }

    .text_container p {
      font-size: 3em;
    }
  }
</style>
