
<html>
  <div class="container">
    <div class="links">
      <a href="/site">Home</a>
      <a href="/site/support">Support</a>
      <a href="/site/for-students">For Students</a>
      <a href="/site/for-teachers">For Teachers</a>
      <a href="/site/register">Sign Up</a>
    </div>
  </div>

  <style>
    .container {
      display: flex;
      height: 10vh;
      position: fixed;
      width: 100%;
      align-content: space-between;
      z-index: 10;
      transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    }


    div {
      width: 50vw;
    }
    
    .links {
      align-items: center;
      justify-content: right;
      padding-right:7em;
      display: flex;
      width: 100vw;
    }
    
    .links.scrolled a {
      color: rgb(255, 255, 255) !important; 
    }

    .links a {
      font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding-left: 2em;
      text-decoration: none;
      color: rgb(255, 255, 255);
      transition: color 0.3s ease;
    }
    
    .links a:hover {
      text-decoration: underline;
    }

    @media only screen and (max-width: 600px) {
      .links {
        justify-content: center;
      }
    }
  </style>