---
import Navbar from "../components/navbar.astro";
---


<html lang = "en">
    <Navbar />
    <body>
        <slot />
    </body>
</html>
<style>
    body{
        background-color: #A787E6 !important;
    }
</style>